body{
    background-color: #f0f4f5;
}
.headar{
    background-color: #fff;
}
.header-button{
    background-color: #e3714d;
    float: right;
    color: white;
    margin-top: 10px;
    margin-right: 5px;
    font-size: 10px;
}

#headOne{
    width: 50%;
    float: left;
}
#headOne img{
    margin: 20px;
    width: 110px;
}

#headTwo{
    width: 50%;
    float: left;
}

.main{
    width: 100%;
    margin: 0;
    padding: 0;
}

.center{
    background-color: #fff;
}


.dc1 img{
    max-width: 100%;
    float: right;
}

.dc1 p{
    max-width: 40%;
}

.dc1 h6,form{
    max-width: 30%;
    float: left;
}

.dc2{
    width: 100%;
}