
/* main body */
body{
    background-color: #f0f4f5;
}

/* header section */
.headar{
    color: #fff;
    height: 65px;
    box-shadow: 0px 2px 3px #f0f4f5;
}
.header-button{
    background-color: #e3714d;
    float: right;
    color: white;
    margin-top: 10px;
    margin-right: 5px;
    font-size: 10px;
    margin-top: 15px;
}
#headOne{
    width: 50%;
    float: left;
}
#headOne img{
    margin: 20px;
    width: 110px;
}

#headTwo{
    width: 50%;
    float: left;
}

/*  main body  of website */
.main{
    width: 100%;
    margin: 0;
    padding: 0;
}

/*  center wrap  */
.center{
    background-color: #fff;
}

#dc1-content{
    width: 60%;
    float: left;
    height: 330px;
}

#dc1-head2{
    margin-top: -5px;
    padding: 0;
    font-family: Source Sans Pro,SansSerif,Helvetica;
    text-decoration: none;
    font-size: 18px;
    color: #7a7a79;
    font-weight: lighter;
}

#dc1-head{
    font-size: 14px;
    text-transform: uppercase;
    color: #5c5c5c;
    line-height: 1.8;
    font-weight: 600;
}

#dc1{
    width: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    height: 330px;
}

#dc1-image{
    width: 40%;
    float: right;
    height: 330px;
}

#dc1-image img{
    width: 100%;
}

.input-text{
    border: 0px solid #fff;
    height:47px;
    width: 67%;
    margin-right: -30px;
    color: #7a7a79;
    margin-left: 20px;
    margin-top: 50px;
}

#dc1-content input[type=text]{
    width: 75%;
    height: 50px;
    color: #7a7a79;
    letter-spacing: 1px;
    padding: 3px;
    padding-left: 32px;
    border: 0px solid #fff;
    height: 28px;
    background: transparent;
    border: 1px solid #7a7a79;
    border-radius: 2px;
    margin-top: 50px;
}

#dc1-content input[type=radio]{
    border: 2px solid #e3714d;
    color: #e3714d;
    background-color: #fff;
    margin-top: 20px;
    margin-left: 10px;
}

#dc1-content form p{
    margin-top: 10px;
}

#dc2{
    width: 100%;
}

hr{
    width: 100%;
    height: 1px;
}

#dc2{
    width: 100%;
}

#dc2-head{
    width: 80%;
    float: left;
    color: #5c5c5c;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 300;
    margin-left: 10px;
}

#dc2-button{
    width: 20%;
    float: right;
}

#dc2-button button{
    float: right;
    font-size: 10px;
    margin-right: 10px;
}

#dc2 img{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
}

#dc3{
    width: 100%;
}

#dc3-content{
    width: 100%;
    height: 80px;
}

#dc3-head{
    width: 70%;
    float: left;
    color: #5c5c5c;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 300;
    margin-bottom: 10px;
    margin-left: 10px;
}

#dc3-button{
    width: 20%;
    float: right;
    margin-bottom: 10px;
}

#dc3-button button{
    float: right;
    font-size: 10px;
    margin-right: 10px;
}

#dc3-images img{
    width: 75px;
    margin: 20px;
}


/*  right wrap  */
.right{
    width: 100%;
    margin-top: 30px;
}

#right-head{
    width: 70%;
    float: left;
}

#right-head h6{
    color: #5c5c5c;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 600;
    margin-left: 10px;
}

#right-button{
    width: 30%;
    float: right;
}

#right-button button{
    float: right;
    font-size: 12px;
    color: #e3714d;
    border: 1px solid #e3714d;
    background: transparent;
    margin-right: 7px;
}


/*   left wrap   */
.left ul{
    list-style: none;
    display: inline-block;
    margin-top: 10px;
}

.left ul li img{
    height: 24px;
    float: left;
    max-width: 20px;
    margin-left: -16px;
}

.left ul li a{
    margin-left: 10px;
    text-decoration: none;
    color: #5c5c5c;
}

.left hr{
    width: 30px;
    float: left;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.left li{
    color: #5c5c5c;
    font-size: 12px;
    margin: 23px;
    margin-left: 0px;
}

.left li span{
    width: 6px;
    height: 10px;
    float: left;
    padding-right: 30px;
    margin-top: 5px;
    margin-left: -40px;
}

.left li:hover span{
    border-left: 2px solid #e3714d;
}


/*   lower wrapper   */
#lastWrapper{
    width: 100%;
    background-color: #fff;
    height: 450px;
}

.wrapBlocks{
    width: 13%;
    float: left;
    margin-right: -35px;
}

.wrapBlocks ul{
    list-style: none;
    padding: 30px;
}

.wrapBlocks ul li{
    font-size: 11px;
    text-transform: capitalize;
    line-height: 1.7;
    color: #7a7a79;
}

.list-head{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
    color: #000000;
}

#facebook{
    border:2px solid #607ecb;
    background: #607ecb;
    width: 40px;
    height: auto;
    padding: 7px 13px;
    border-radius: 50%;
    height: 38px;
    margin-bottom: 6px;
    margin-left: 2px;
}

#google{
    
    height: 38px;
    background-color: #e24545;
    padding: 9px 7px;
    width: 40px;
    border: 2px solid #e24545;
    border-radius: 50%;
    margin-bottom: 6px;
    margin-left: 2px;
}

#twitter{
    background-color: #25b1d8;
    width: 40px;
    height: 38px;
    border: 2px solid #25b1d8;
    border-radius: 50%;
    padding: 8px;
    margin-left: 2px;
}

#wrapper-bottom{
    width: 100%;
    float: left;
}

#download{
    width: 50%;
    float: left;
}

#download-head{
    width: 50%;
    float: left;
    font-size: 10px;
    font-weight: 700;
    color: #4a4a4a;
    text-align: center;
    margin-left: 100px;
}

#download-content{
    width: 50%;
    float: right;
    margin-top: -27px;
}

#download-content img{
    width: 60px;
    margin: 10px;
}

#download-content span{
    color: #a4a9ac;
}

#secured{
    width: 50%;
    float: right;
}

#security-head{
    width: 25%;
    float: left;
    font-size: 10px;
    font-weight: 700;
    color: #4a4a4a;
    text-align: left;
}

#security-content{
    width: 50%;
    float: left;
    margin-top: -19px;
    margin-left: -110px;
}

#security-content img{
    height: 20px;
    margin: 15px;
}

#security-content span{
    color: #a4a9ac;
}

footer{
    height: 40px;
    margin-top: 20px;
    font-size: 13px;
    margin-left: 270px;
    color: #4a4a4a;
    font-weight: 600;
    background-color: #f2f2f2;
}


@media only screen and (max-width: 780px){
    #download-head{
        margin: 0px;
        float: left;
    }
    #download-content{
        margin: 0px;
        float: right;
    }
    
    #secured-head{
        margin: 0px;
        float: left;
    }
    #secured-content{
        margin: 0px;
        float: right;
    }
    
    footer{
        width: 100%;
        margin: 0px;
        padding: 0px;
        float: left;
    }
    
    #lastWrapper{
        height: 940px;
        width: 100%;
    }
    
    #download-content span{
        display: none;
    }
    
     #security-content span{
        display: none;
    }
    
    #security-content{
        float: right;
        margin: 0px;
    }
    
    .wrapBlocks{
        width: 15%;
        margin: 0px;
        margin-right: 10px;
        margin-left: -4px;
    }
    
    .wrapBlocks .image-list li{
        display: inline;
    }
}