/* main body */
body{
    background-color: #f0f4f5;
}

/* header section */
.headar{
    color: #fff;
    height: 65px;
    box-shadow: 0px 2px 3px #f0f4f5;
}
.header-button{
    background-color: #e3714d;
    float: right;
    color: white;
    margin-top: 10px;
    margin-right: 5px;
    font-size: 10px;
    margin-top: 15px;
}
#headOne{
    width: 50%;
    float: left;
}
#headOne img{
    margin: 20px;
    width: 110px;
}

#headTwo{
    width: 50%;
    float: left;
}

/*  main body  of website */
.main{
    width: 100%;
    margin: 0;
    padding: 0;
}

/*  center wrap  */
.center{
    background-color: #fff;
}

#dc1-content{
    width: 60%;
    float: left;
    height: 330px;
}

#dc1-head2{
    margin-top: -5px;
    padding: 0;
    font-family: Source Sans Pro,SansSerif,Helvetica;
    text-decoration: none;
    font-size: 18px;
    color: #7a7a79;
    font-weight: lighter;
}

#dc1-head{
    font-size: 14px;
    text-transform: uppercase;
    color: #5c5c5c;
    line-height: 1.8;
    font-weight: 600;
}

#dc1{
    width: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    height: 330px;
}

#dc1-image{
    width: 40%;
    float: right;
    height: 330px;
}

#dc1-image img{
    width: 100%;
}

#dc1-content input[type=text]{
    width: 90%;
    height: 40px;
    color: #7a7a79;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 1px solid #e8e8e8;
    margin-top: 55px;
}

#dc1-content form p{
    margin-top: 10px;
}

#dc2{
    width: 100%;
}

hr{
    width: 100%;
    height: 1px;
}

#dc2{
    width: 100%;
}

#dc2-head{
    width: 80%;
    float: left;
    color: #5c5c5c;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 300;
    margin-left: 10px;
}

#dc2-button{
    width: 20%;
    float: right;
}

#dc2-button button{
    float: right;
    font-size: 10px;
    margin-right: 10px;
}

#dc2 img{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
}

#dc3{
    width: 100%;
}

#dc3-content{
    width: 100%;
    height: 80px;
}

#dc3-head{
    width: 70%;
    float: left;
    color: #5c5c5c;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 300;
    margin-bottom: 10px;
    margin-left: 10px;
}

#dc3-button{
    width: 20%;
    float: right;
    margin-bottom: 10px;
}

#dc3-button button{
    float: right;
    font-size: 10px;
    margin-right: 10px;
}

#dc3-images img{
    width: 75px;
    margin: 20px;
}


/*  right wrap  */
.right{
    width: 100%;
    margin-top: 30px;
}

#right-head{
    width: 70%;
    float: left;
}

#right-head h6{
    color: #5c5c5c;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 600;
    margin-left: 10px;
}

#right-button{
    width: 30%;
    float: right;
}

#right-button button{
    float: right;
    font-size: 12px;
    color: #e3714d;
    border: 1px solid #e3714d;
    background: transparent;
    margin-right: 7px;
}


/*   left wrap   */
.left ul{
    list-style: none;
    display: inline-block;
}

.left hr{
    width: 30px;
    float: left;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.left li{
    color: #5c5c5c;
    font-size: 12px;
    margin: 23px;
    margin-left: 5px;
}


/*   lower wrapper   */
#lastWrapper{
    width: 100%;
    background-color: #fff;
    height: 550px;
}

.wrapBlocks{
    width: 13%;
    float: left;
    margin-right: -35px;
}

.wrapBlocks ul{
    list-style: none;
    padding: 30px;
}

.wrapBlocks ul li{
    font-size: 11px;
    text-transform: capitalize;
    line-height: 1.7;
    color: #7a7a79;
}

.list-head{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
    color: #000000;
}

#facebook{
    margin-left: 7px;
    width: 40px;
    height: 40px;
}

#google{
    width: 40px;
    height: 40px;
    background-color: #e24545;
}